html, body {
  margin: 0;
  padding: 0.5rem;
}

#cas {display: block}

body {
  font-size: 1rem;
  background: #fff;
}

h1, h2 {
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.25rem;
}

#error {
  color: #f00;
  font-family: monospace;
  transition: all 1s;
}

form {
  display: flex;
}

input, button, code, p {
  //font-size: inherit;
  font-size: 130%;
}

#results {
  background: #ccc;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 1s;
  overflow-x: hidden;
}

#results:before {
  position: absolute;
  display: inline-block;
  border: 1rem solid transparent;
  border-bottom: 1rem solid #ccc;
  margin-top: -3rem;
  content: '';
}
