<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.creativecommons.thelist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.creativecommons.thelist.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.creativecommons.thelist.TabbedActivity.TabActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="org.creativecommons.thelist.CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name="org.creativecommons.thelist.RandomActivity"
            android:label="@string/title_activity_random" >
        </activity>
        <activity
            android:name="org.creativecommons.thelist.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="org.creativecommons.thelist.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
