<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <div id="pi" style="position: fixed; bottom: 5px; right: 5px; opacity: 0.3;"><a href="/beta">&pi;</a></div>

  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
