<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">The List</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about/">About</a></li>
        <li><a href="/team/">Team</a></li>
        <li><a href="/get-involved/">Get involved!</a></li>
        <li><a href="/contact/">Contact</a></li>
    </div><!--/.navbar-collapse -->
  </div>
</div>
