<div class="well">

  <h3>Join our mailing list</h3>

      <form action="https://donate.creativecommons.org/civicrm/profile/create?gid=34&amp;reset=1" method="post" name="Edit" id="Edit" >

      <div>
	<input name="gid" type="hidden" value="34" />
	<input name="_qf_default" type="hidden" value="Edit:cancel" />
      </div>

      <p>
	<input maxlength="64" size="30" name="email-Primary" type="email" id="email-Primary" class="form-control" placeholder="mattl@example.com" required />
      </p>


      <p>
	<input maxlength="128" size="45" name="nick_name" type="text" id="nick_name" placeholder="Matt" class="form-control" />
<span class="help-block">Entirely optional, but let's us know what we should call you.</span>
      </p>

      <p>
	<input class="btn btn-block btn-success btn-lg form-submit default" accesskey="S" name="_qf_Edit_next" value="Save" type="submit" id="_qf_Edit_next" />
      </p>
    </form>

</div>
